.notificationList {
  list-style: none;
  max-height: 20em;
  overflow-y: auto;
  margin-bottom: 2em;
  background-color: var(--action-background-color);
  color: var(--inverted-text-color);
  padding: .5em;
  border-radius: .25em;
}

.highWater {
  border-top: orange 1px solid;
  position: relative;
  padding-top: 1em;
}

.highWater::before {
  content: "New";
  position: absolute;
  color: orange;
  top: 0;
}
