.helper {
  font-size: .75em;
  font-style: italic;
  max-width: 100%;
}

.helper .token, .helper .code {
  display: inline;
  margin-right: .5em;
  margin-bottom: .25em;
}

.tokenContainer {
  display: flex;
  flex-flow: row wrap;
  padding: .5em;
  list-style: none;
}

.notificationList {
  list-style: none;
}

.prefixGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--primary-border-color);
}

.prefixGroup:last-of-type {
  border-bottom: none;
}

.prefixGroup > * {
  flex: 0 1 auto;
  max-width: 50%;
  width: 100%;
  box-sizing:border-box;
  padding-right: 1em;
}

@media (max-width: 800px) {
  .prefixGroup > * {
    flex: 1 1 auto;
    max-width: 100%;
  }
}

.token, .code {
  border: 1px solid purple;
  background-color: #880088;
  border-radius: .25em;
  padding: .1em .25em;
  color: white;
  font-style: normal;
  font-family: 'hack', 'Courier New', Courier, monospace;
}

.testButton {
  display: block;
  height: 2em;
  max-width: 50%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .testButton {
    margin-bottom: 1.5em;
  }
}
