.helper {
  font-size: .75em;
  font-style: italic;
  max-width: 100%;
}

.helper pre {
  display: inline;
  margin-right: .5em;
  margin-bottom: .25em;
}

.tokenContainer {
  display: flex;
  flex-flow: row wrap;
  padding: .5em;
}

.notificationItem {
  margin-bottom: 1em;
}

.token {
  border: 1px solid #333;
  background-color: #666;
  border-radius: 2px;
  padding: 0 .25em;
  color: white;
}
