.helper {
  font-size: .75em;
  font-style: italic;
}

.helper pre {
  display: inline;
}

.notificationItem {
  margin-bottom: 1em;
}

.token {
  border: 1px solid #333;
  background-color: #666;
  border-radius: 2px;
  padding: 0 .25em;
  color: white;
}
