

.tokenContainer {
  display: flex;
  flex-flow: row wrap;
  padding: .5em;
  list-style: none;
}
.helper .token, .helper .code {
  display: inline;
  margin-right: .5em;
  margin-bottom: .25em;
}

.token, .code {
  border: 1px solid purple;
  background-color: #880088;
  border-radius: .25em;
  padding: .1em .25em;
  color: white;
  font-style: normal;
  font-family: 'hack', 'Courier New', Courier, monospace;
}
