.select option:checked {
  background-color: var(--secondary-action-color);
}

.select:disabled :checked {
  background-color: var(--disabled-action-background-color);
}

.select:disabled option {
  background-color: transparent;
}
