.button {
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
}

.button:active {
  box-shadow: inset rgba(0, 0, 0, .3) 0 0 3px;
}

.button:disabled {
  color: #666;
  background-color: #eee;
  border-color: #aaa;
  cursor: not-allowed;
}

.primary {
  color: white;
  border-color: #038303;
  background-color: var(--primary-action-color);
}

.secondary {
  color: white;
  background-color: var(--secondary-action-color);
  border-color: #447cff;
}

.danger {
  color: white;
  border-color: #cc3333;
  background-color: var(--danger-action-color);
}
