.wrapper {
  max-width: 100%;
  display: flex !important;
  flex-flow: row nowrap;
  align-items: stretch;

  border: 1px solid #666;
  border-radius: .25em;
}

.inputContainer {
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 100%;
  padding: .1em;
}

.prefixContainer, .postfixContainer {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
}

.prefixContainer > *,
.postfixContainer > * {
  display: block;
  border-radius: 0 .25em .25em 0;
}

.postfixContainer * {
  border-width: initial;
  height: 100%;
  border: none !important;
  border-radius: 0;
}

.postfixContainer > *:last-child {
  border-radius: 0 .25em .25em 0;
}

.prefixContainer ~ .inputContainer {
  border-left: 1px solid #666;
}

.inputContainer ~ .postfixContainer {
  border-left: 1px solid #666;
}

.inputContainer input, .inputContainer textarea {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  resize: vertical;
  height: fit-content;
}

.inputContainer input:focus-visible,
.inputContainer textarea:focus-visible {
  outline: none;
}

.disabled {
  background-color: #eee;
}
