.radioContainer {
  margin-top: .25em;
}

.radioContainer input[type="radio"] {
  margin-right: .5em;
  margin-left: 1em;
}

.fieldContainer {
  margin-bottom: 1em;
}

.helper {
  margin-top:.5em;
  margin-bottom: 1em;
  font-size: .75em;
  font-style: italic;
  font-weight: lighter;
  max-width: 100%;
  color: var(--secondary-text-color);
}

.code {
  border: 1px solid purple;
  background-color: #880088;
  border-radius: .25em;
  padding: .1em .25em;
  color: white;
  font-style: normal;
  font-family: 'hack', 'Courier New', Courier, monospace;
}
