.container {
  margin-bottom: 2em;
}

.container h4 {
  margin-top: 0;
}

.commandList {
  list-style: none;
}

.commandItem {
  display: flex;
  justify-content: space-between;
  padding: .25em 0;
}
